.page {
    display: flex;
    flex-flow: row wrap;
}

.body {
    background-color: aquamarine;
    width: 75%;
}

.mosaic {
    display: flex;
    margin: 20px;
    height: 80vh ;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

}

.mosaic img {
    margin: 3px;
}

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-around;
    align-items: center;
    align-content: center;

    background-color: #bcbcbc;
    height: 80px ;
}

.sidebar {
    width: 25%;
    background-color: crimson;
}

.header a {
    text-decoration: none;
    color: #08566b;
    margin: 0 20px 0 30px;
}